/*.grid-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
   }

[class^=grid-col-] {
  margin: 7.5px; }

@media (min-width: 0) {
  .grid-col-xs-1 {
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%; }
  .grid-col-xs-2 {
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%; }
  .grid-col-xs-3 {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; }
  .grid-col-xs-4 {
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%; }
  .grid-col-xs-5 {
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%; }
  .grid-col-xs-6 {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
  .grid-col-xs-7 {
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%; }
  .grid-col-xs-8 {
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%; }
  .grid-col-xs-9 {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%; }
  .grid-col-xs-10 {
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%; }
  .grid-col-xs-11 {
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%; }
  .grid-col-xs-12 {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; } }

@media (min-width: 768px) {
  .grid-col-sm-1 {
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%; }
  .grid-col-sm-2 {
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%; }
  .grid-col-sm-3 {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; }
  .grid-col-sm-4 {
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%; }
  .grid-col-sm-5 {
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%; }
  .grid-col-sm-6 {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
  .grid-col-sm-7 {
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%; }
  .grid-col-sm-8 {
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%; }
  .grid-col-sm-9 {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%; }
  .grid-col-sm-10 {
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%; }
  .grid-col-sm-11 {
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%; }
  .grid-col-sm-12 {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; } }

@media (min-width: 992px) {
  .grid-col-md-1 {
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%; }
  .grid-col-md-2 {
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%; }
  .grid-col-md-3 {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; }
  .grid-col-md-4 {
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%; }
  .grid-col-md-5 {
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%; }
  .grid-col-md-6 {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
  .grid-col-md-7 {
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%; }
  .grid-col-md-8 {
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%; }
  .grid-col-md-9 {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%; }
  .grid-col-md-10 {
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%; }
  .grid-col-md-11 {
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%; }
  .grid-col-md-12 {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; } }

@media (min-width: 1200px) {
  .grid-col-lg-1 {
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%; }
  .grid-col-lg-2 {
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%; }
  .grid-col-lg-3 {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; }
  .grid-col-lg-4 {
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%; }
  .grid-col-lg-5 {
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%; }
  .grid-col-lg-6 {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
  .grid-col-lg-7 {
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%; }
  .grid-col-lg-8 {
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%; }
  .grid-col-lg-9 {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%; }
  .grid-col-lg-10 {
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%; }
  .grid-col-lg-11 {
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%; }
  .grid-col-lg-12 {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; } }*/

@supports (display: grid) {
  @media (min-width: 768px) {
    .grid-container {
      width: 750px;
      margin: 0 auto; } }
  @media (min-width: 992px) {
    .grid-container {
      width: 970px;
      margin: 0 auto; } }
  @media (min-width: 1200px) {
    .grid-container {
      width: 1170px;
      margin: 0 auto; } }
  [class^=grid-col-] {
    display: -ms-grid;
    display: grid;
    -ms-grid-column-span: 12;
    grid-column-end: span 12;
    justify-self: stretch;
    margin: 0;
   }
  .grid-row {
    display: grid;
    -ms-grid-columns: (5fr)[12];
    grid-template-columns: repeat(12, 5fr);
    grid-gap: 15px; }
  @media (min-width: 0) {
    .grid-col-xs-1 {
      -ms-grid-column-span: 1;
      grid-column-end: span 1; }
    .grid-col-xs-2 {
      -ms-grid-column-span: 2;
      grid-column-end: span 2; }
    .grid-col-xs-3 {
      -ms-grid-column-span: 3;
      grid-column-end: span 3; }
    .grid-col-xs-4 {
      -ms-grid-column-span: 4;
      grid-column-end: span 4; }
    .grid-col-xs-5 {
      -ms-grid-column-span: 5;
      grid-column-end: span 5; }
    .grid-col-xs-6 {
      -ms-grid-column-span: 6;
      grid-column-end: span 6; }
    .grid-col-xs-7 {
      -ms-grid-column-span: 7;
      grid-column-end: span 7; }
    .grid-col-xs-8 {
      -ms-grid-column-span: 8;
      grid-column-end: span 8; }
    .grid-col-xs-9 {
      -ms-grid-column-span: 9;
      grid-column-end: span 9; }
    .grid-col-xs-10 {
      -ms-grid-column-span: 10;
      grid-column-end: span 10; }
    .grid-col-xs-11 {
      -ms-grid-column-span: 11;
      grid-column-end: span 11; }
    .grid-col-xs-12 {
      -ms-grid-column-span: 12;
      grid-column-end: span 12; } }
  @media (min-width: 768px) {
    .grid-col-sm-1 {
      -ms-grid-column-span: 1;
      grid-column-end: span 1; }
    .grid-col-sm-2 {
      -ms-grid-column-span: 2;
      grid-column-end: span 2; }
    .grid-col-sm-3 {
      -ms-grid-column-span: 3;
      grid-column-end: span 3; }
    .grid-col-sm-4 {
      -ms-grid-column-span: 4;
      grid-column-end: span 4; }
    .grid-col-sm-5 {
      -ms-grid-column-span: 5;
      grid-column-end: span 5; }
    .grid-col-sm-6 {
      -ms-grid-column-span: 6;
      grid-column-end: span 6; }
    .grid-col-sm-7 {
      -ms-grid-column-span: 7;
      grid-column-end: span 7; }
    .grid-col-sm-8 {
      -ms-grid-column-span: 8;
      grid-column-end: span 8; }
    .grid-col-sm-9 {
      -ms-grid-column-span: 9;
      grid-column-end: span 9; }
    .grid-col-sm-10 {
      -ms-grid-column-span: 10;
      grid-column-end: span 10; }
    .grid-col-sm-11 {
      -ms-grid-column-span: 11;
      grid-column-end: span 11; }
    .grid-col-sm-12 {
      -ms-grid-column-span: 12;
      grid-column-end: span 12; } }
  @media (min-width: 992px) {
    .grid-col-md-1 {
      -ms-grid-column-span: 1;
      grid-column-end: span 1; }
    .grid-col-md-2 {
      -ms-grid-column-span: 2;
      grid-column-end: span 2; }
    .grid-col-md-3 {
      -ms-grid-column-span: 3;
      grid-column-end: span 3; }
    .grid-col-md-4 {
      -ms-grid-column-span: 4;
      grid-column-end: span 4; }
    .grid-col-md-5 {
      -ms-grid-column-span: 5;
      grid-column-end: span 5; }
    .grid-col-md-6 {
      -ms-grid-column-span: 6;
      grid-column-end: span 6; }
    .grid-col-md-7 {
      -ms-grid-column-span: 7;
      grid-column-end: span 7; }
    .grid-col-md-8 {
      -ms-grid-column-span: 8;
      grid-column-end: span 8; }
    .grid-col-md-9 {
      -ms-grid-column-span: 9;
      grid-column-end: span 9; }
    .grid-col-md-10 {
      -ms-grid-column-span: 10;
      grid-column-end: span 10; }
    .grid-col-md-11 {
      -ms-grid-column-span: 11;
      grid-column-end: span 11; }
    .grid-col-md-12 {
      -ms-grid-column-span: 12;
      grid-column-end: span 12; } }
  @media (min-width: 1200px) {
    .grid-col-lg-1 {
      -ms-grid-column-span: 1;
      grid-column-end: span 1; }
    .grid-col-lg-2 {
      -ms-grid-column-span: 2;
      grid-column-end: span 2; }
    .grid-col-lg-3 {
      -ms-grid-column-span: 3;
      grid-column-end: span 3; }
    .grid-col-lg-4 {
      -ms-grid-column-span: 4;
      grid-column-end: span 4; }
    .grid-col-lg-5 {
      -ms-grid-column-span: 5;
      grid-column-end: span 5; }
    .grid-col-lg-6 {
      -ms-grid-column-span: 6;
      grid-column-end: span 6; }
    .grid-col-lg-7 {
      -ms-grid-column-span: 7;
      grid-column-end: span 7; }
    .grid-col-lg-8 {
      -ms-grid-column-span: 8;
      grid-column-end: span 8; }
    .grid-col-lg-9 {
      -ms-grid-column-span: 9;
      grid-column-end: span 9; }
    .grid-col-lg-10 {
      -ms-grid-column-span: 10;
      grid-column-end: span 10; }
    .grid-col-lg-11 {
      -ms-grid-column-span: 11;
      grid-column-end: span 11; }
    .grid-col-lg-12 {
      -ms-grid-column-span: 12;
      grid-column-end: span 12; } } }
