<!--SECTION EXPERIENCES-->

<section id="section3" class="cd-section">
	<div class="grid-container">
		<div class="grid-row">
			<div class="grid-col-md-12 padding-top" >
				<h1 class="animated rollIn">Experiences</h1>
			</div>
		</div>
		<div class="grid-row">
			<div class="grid-col-md-6">
				<div class="box-text">
					<h2>WHAT I KNOW</h2>
					<p>I have over 12 years of experience with front end development. Experience with WordPress, PHP, jQuery, AngularJS, Angular, and ReactJS.
					</p>
					<p class="slogan">"Anything is possible...Its just a matter of time and money"</p>
					<img class="signature" src="images/signature.png" alt="Josh Porter - Signature" width="150" style="width: 150px;"/>
				</div>
			</div>
			<div class="grid-col-md-6 skills-area triggerAnimation animated" data-animate="fadeInLeft">
				<div class="box-text">
					<h2>MY Skills</h2>
					<div class="skills-box">
						<div class="skills-progress">
							<p>Photoshop<span>90%</span></p>
							<div class="meter nostrips develope">
								<p class="animated bounceInRight" style="width: 90%"></p>
							</div>
							<p>jQuery<span>95%</span></p>
							<div class="meter nostrips design">
								<p class="animated bounceInRight" style="width: 95%"></p>
							</div>
							<p>HTML5<span>98%</span></p>
							<div class="meter nostrips branding">
								<p class="animated bounceInRight" style="width: 98%"></p>
							</div>
							<p>CSS3<span>98%</span></p>
							<div class="meter nostrips web-applications">
								<p class="animated bounceInRight" style="width: 98%"></p>
							</div>
							<p>PHP<span>87%</span></p>
							<div class="meter nostrips web-applications">
								<p class="animated bounceInRight" style="width: 87%"></p>
							</div>
							<p>WordPress<span>98%</span></p>
							<div class="meter nostrips web-applications">
								<p class="animated bounceInRight" style="width: 98%"></p>
							</div>
							<p>CSS Grid<span>90%</span></p>
							<div class="meter nostrips web-applications">
								<p class="animated bounceInRight" style="width: 90%"></p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	<div class="grid-row">
		<div class="grid-col-md-12">
			<div class="box-content experiences">
				<div class="grid-col-md-12 list-experiences">
					<h2><i class="fa fa-briefcase"></i>Front-End Developer<span class="data">May 2015 - Present</span></h2>
						<p>
							<span class="job-title">ActionTrak</span><br />
							<span class="job-attributes">JavaScript, jQuery, Twitter Bootstrap 3.0</span>
							<ul>
								<li>Used JavaScript and jQuery to create an inventory system.</li>
								<li>Utilized Bootstrap template.</li>
							</ul>
						</p>
						<p>
							<span class="job-title">Apostrophe-S</span><br />
							<span class="job-attributes">Magento CMS, WordPress</span>
							<ul>
								<li>Used Magento CMS to custom code back end and front end layout.</li>
								<li>Created custom reports.</li>
								<li>Edited the Wordpress template for their blog.</li>
							</ul>
						</p>
						<p>
							<span class="job-title">Hydro Studios</span><br />
							<span class="job-attributes">Hubspot</span>
							<ul>
								<li>Used Hubspot to update client website.</li>

							</ul>
						</p>
						<p>
							<span class="job-title">Firetoss</span><br />
							<span class="job-attributes">Flexbox CSS, Git, SCSS, WordPress, ACF</span>
							<ul>
								<li>Modify WordPress theme using Advanced Custom Fields, SCSS, and PHP to the
customer specification.</li>
								<li>Also created custom components that allow the end user full control over layout and
position on the page.</li>
							</ul>
						</p>
						<p>
							<span class="job-title">Contravent</span><br />
							<span class="job-attributes">Flexbox CSS, Git, SCSS, WordPress, ACF</span>
							<ul>
								<li>Modified WordPress theme using Advanced Custom Fields, SCSS, and PHP to the
customer specification.</li>
								<li>Created a custom timeline component.</li>
								<li>Created custom components that allow the end user full control over layout and
								position on the page.</li>
							</ul>
						</p>
						<p>
							<span class="job-title">The Church of Jesus Christ of Latter Day Saints</span><br />
							<span class="job-attributes">Flexbox CSS, Git, Post-CSS, ReactJS, SCSS</span>
							<ul>
								<li>Used ReactJS, Post-CSS, and JavaScript to create Global Templates for the entire
organization to utilize and promote same functionality and look and feel.</li>
							</ul>
						</p>
						<p>
							<span class="job-title">Managed Digital (November 2015 – July 2016)</span><br />
							<span class="job-attributes">Flexbox CSS, jQuery, Knockout.js, Twitter Bootstrap, WordPress, Visual Studio, Git</span>
							<ul>
								<li>Learned Knockout.js.</li>
								<li>Used Knock template to create a RMA system.</li>
								<li>Used Foundation for the grid layout.</li>
								<li>Created a WordPress theme.</li>
								<li>Used Visual Studio and Git to work on USGA.org.</li>
								<li>Used Flexbox CSS, jQuery, Knockout, Twitter Bootstrap to update My Viking
								Journey for Viking Cruises.</li>

							</ul>
						</p>
						<p>
							<span class="job-title">CUWCD (July 2015 – October 2015)</span><br />
							<span class="job-attributes">jQuery, Bootstrap, Postgres SQL, Handlebars.js</span>
							<ul>
								<li>Created a web tool for budgeting the different facilities.</li>
								<li>Used a custom Bootstrap template and Postgres Database.</li>
								<li>Used jQuery to post/delete/modify entries from the database.</li>
								<li>Used Handlebars.js to create a front facing tool for employees to easily digest the data
								being presented.</li>

							</ul>
						</p>
						<p>
							<span class="job-title">Redirect Digital (May 2015 – July 2015)</span><br />
							<span class="job-attributes">WordPress</span>
							<ul>
								<li>Used WordPress custom post types.</li>
								<li>Created custom theme that is easily updatable by the client.</li>

							</ul>
						</p>
					</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- cd-section -->
