<section id="section1" class="cd-section">
  <div class="container">
    <div class="row padding-top">
      <div class="col-md-12">
        <h1 class="animated rollIn"> WHO I AM </h1>
      </div>
    </div>
    <div class="grid-row padding-bottom" >
        <div class="grid-col-md-4">
          <div class="box-text">
            <h2>HISTORY</h2>
            <p>Projects that I work on benefit from my <span claas="underline">creative</span> and <span claas="underline">dynamic</span> skill set. I am always looking to push my own limits and <span claas="underline">apply</span> what are the latest trends in web development. </p>
            <p>I have over 12 years of professional experience. Significant experience in <strong>HTML5</strong>, <strong>CSS3</strong>, <strong>JavaScript</strong>, <strong>AngularJS</strong>, <strong>React</strong>, and much more. Solid candidate with excellent problem solving skills.   Eager to continue to learn and enhance current software development skills. </p>
          </div>
        </div>
        <div class="grid-col-md-4">
          <div class="box-img">
            <img src="images/desktop.jpg" class="grayscale" alt="Desktop" />
          </div>
        </div>
        <div class="grid-col-md-4">
          <div class="box-text">
            <h2>Personal data</h2>
            <p>Date of birth: 01/19/1980</p>
            <p>Phone: test 801-787-4727</p>
            <p>E-mail: portjsh@gmail.com</p>

          </div>
        </div>
    </div><!--close row-->
  </div><!--close container-->
  <div class="parallax1">
    <div class="overlay">
      <div class="container">
        <div class="grid-row">


          <div class="grid-col-md-4">
            <div class="box-img">
              <img src="images/chalk.jpg" class="grayscale" alt="Chalk " />
            </div>
          </div>
          <div class="grid-col-md-4">
            <div class="box-text">
              <h2>WHAT I DO</h2>
              <p>Technologies/Tools:	JavaScript, HTML5, CSS3, XML, jQuery, JSON, ReactJS, Twitter Bootstrap, Foundation, PHP, ACF, Photoshop, Illustrator, AngularJS, WordPress, Handlebars.js, Knockout.js, Design, SEO/CRO Best Practices</p>
              <p>Computer Systems: Windows, Mac</p>
              <p>Databases: 	PostgreSQL, MYSQL</p>
            </div>
          </div>
          <div class="grid-col-md-4">
            <div class="box-img">
              <img src="images/bulbs.jpg" class="grayscale" alt="Bulbs" />
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- cd-section -->
